:root {
    /* Primary Colors */
    --orange: hsl(26, 100%, 55%);
    --pale-orange: hsl(25, 100%, 94%);

    /* //Neutral Colors */
    --very-dark-blue: hsl(220, 13%, 13%);
    --dark-grayish-blue: hsl(219, 9%, 45%);
    --grayish-blue: hsl(220, 14%, 75%);
    --light-grayish-blue: hsl(223, 64%, 98%);
    --white: hsl(0, 0%, 100%);

    /* black (with 75% opacity for lightbox background) */
    --black: hsl(0, 0%, 0%);

    --padding: 2.5rem;
}

/* Resetting default styles for all elements */
*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}

body {
    overflow: hidden;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

ul {
    list-style-type: none;
}

/* Helper class to visually hide elements but keep them accessible for screen readers */
.sr-only {
    display: none;
}

.show {
    display: none;
}

.logo {
    margin: 2rem;
    margin-left: 0;
}

/* Flex utility class for easy flex container styling */
.flex {
    display: flex;
    gap: var(--gap, clamp(1rem, 3vw, 2rem));
}

.primary-header {
    --max-width: 1115px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--grayish-blue);
    padding-bottom: 1em;
    width: min(var(--max-width), 100% - (var(--padding) * 0.8));
    margin-inline: auto;
}

.logo-and-nav {
    display: flex;
    align-items: center;
    gap: 2em;
}

.header-user-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.profile-pic-container {
    max-width: 55%;
    padding-left: 2em;
}

.mobile-nav-toggle {
    display: none;
}

/* Styles for the primary navigation list */
.primary-navigation {
    list-style: none;
    padding-inline-end: 1em;
}

.primary-navigation a {
    text-decoration: none;
    color: var(--dark-grayish-blue);
    font-size: clamp(.8em, 3vw, 1em);
}

/* Sneakers-main section styling */
.sneakers-main {
    --max-width: 1000px;
    width: min(var(--max-width), 100% - (var(--padding) * 2));
    margin: 5em 0;
    margin-inline: auto;
    display: flex;
    align-items: center;
    gap: clamp(2.5em, 8vw, 7em);
}

/* Img gallery */

.large-product {
    border-radius: 1em;
}

.thumbnail-images {
    display: flex;
    align-items: center;
    margin-top: 2em;
    gap: 1.5em;
}

.thumbnail-images>li img,
.thumbnail-images>li {
    border-radius: .6em;
}

.active {
    border: 2px solid var(--orange);
}

.active img {
    opacity: 0.5;
}

/* Product info container */
.product-info-container>h5 {
    color: var(--orange);
    text-transform: uppercase;
    padding: 1.5em 0;
    font-weight: bold;
}

.product-info-container>h2 {
    font-size: clamp(1.6em, 5vw, 2.5em);
    color: var(--very-dark-blue);
    padding-bottom: .8em;
}

.shoe-info-paragraph {
    color: var(--dark-grayish-blue);
    margin-bottom: 1em
}

.price-info-container {
    padding: .5em 0;
}

.new-price {
    display: flex;
    align-items: center;
    gap: 1em;
}

.discounted-price {
    font-size: 1.5em;
    color: var(--very-dark-blue);
    font-weight: bold;
}

.discount-percentage {
    background-color: var(--pale-orange);
    color: var(--orange);
    font-weight: bold;
    padding: .1em .5em;
    border-radius: .3em;
}

.original-price {
    display: block;
    color: var(--grayish-blue);
    padding: .5em 0;
    font-size: .9em;
}

.quantity-add-to-cart-container {
    display: flex;
    gap: 1em;
    align-items: center;
}

.quantity-container {
    border-radius: .8em;
    background-color: var(--light-grayish-blue);
    padding: 1em .9em;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 3em;
}

.add-btn {
    display: flex;
    align-items: center;
    gap: 1em;
    background-color: var(--orange);
    color: var(--white);
    font-weight: bold;
    padding: clamp(.5em, 4vw, 1.2em) clamp(.5em, 4vw, 4.5em);
    border: none;
    border-radius: .8em;
    box-shadow: 2px 41px 75px -4px rgba(255, 125, 26, 0.36);
    -webkit-box-shadow: 2px 41px 75px -4px rgba(255, 125, 26, 0.36);
    -moz-box-shadow: 2px 41px 75px -4px rgba(255, 125, 26, 0.36);
    cursor: pointer;
}

.add-btn span {
    font-size: 1.2em;
}

.decrease,
.increase {
    cursor: pointer;
}

/* Media queries for mobile view */
@media screen and (max-width:43em) {
    .primary-navigation {
        --gap: 1.5em;
        position: fixed;
        z-index: 1000;
        inset: 0 0 0 0;
        flex-direction: column-reverse;
        padding: min(30vh, 10rem) 2em;
        padding-left: 14em;
        background-color: #333;
        transform: translateX(-100%);
        transition: transform 350ms ease-out;
        justify-content: flex-end;
    }

    .primary-navigation[data-visible="true"] {
        transform: translateX(-30%);
    }

    .logo {
        position: absolute;
        z-index: 9999;
        margin: 0;
        left: 16%;
        top: 1.8%;
    }

    .profile-pic-container {
        max-width: 45%;
        padding-inline: .8em;
    }

    .mobile-nav-toggle {
        display: block;
        position: absolute;
        background-image: url(images/icon-menu.svg);
        background-repeat: no-repeat;
        width: 2rem;
        aspect-ratio: 1;
        border: 0;
        top: 2%;
        left: 2rem;
        z-index: 9999;
        background-color: transparent;
    }

    .mobile-nav-toggle[aria-expanded="true"] {
        background-image: url(images/icon-close.svg);
    }

    .primary-header {
        padding: 1.3em 0;
        border-bottom: none;
    }

    .sneakers-main {
        flex-direction: column;
        width: 100%;
        margin: 0;
        gap: 0;
    }

    .large-product {
        border-radius: 0;
    }

    .thumbnail-images {
        display: none;
    }

    .product-info-container {
        padding: 1.3em;
    }

    .product-info-container h5 {
        padding-top: 0;
    }

    .price-info-container {
        display: flex;
        justify-content: space-between;
    }
}

@media screen and (max-width:977px) {
    .quantity-add-to-cart-container {
        flex-direction: column;
        align-items: stretch;
    }

    .add-btn,
    .quantity-container {
        justify-content: center;
    }
}