@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
    --lime-green: hsl(163, 72%, 41%);
    --bright-red: hsl(356, 69%, 56%);
    --facebook: hsl(208, 92%, 53%);
    --twitter: hsl(203, 89%, 53%);
    --instagram: linear-gradient(hsl(37, 97%, 70%), hsl(329, 70%, 58%));
    --youtube: hsl(348, 97%, 39%);

    --max-width: 1250px;
    --padding: 2.5rem;
}

*,
::after,
::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    display: block;
    height: auto;
    max-width: 100%;
}

ul {
    list-style-type: none;
}

body {
    font-family: 'Inter', sans-serif;
    position: relative;
    /* Theme */
    /* background: var(--instagram); */
    /*  */
}

.sm-dashboard-header {
    width: min(var(--max-width), 100% - (var(--padding) * 1));
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--padding) .7em;
    font-size: clamp(1em, 2vw, 1.2em);
}

.dashboard-heading {
    padding-bottom: .2em;
    /* Theme */
    /* color: hsl(230, 17%, 14%); */
    /*  */
}

.sm-dashboard-header::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 13em;
    width: 100%;
    z-index: -1;
    /* Theme  */
    /* background-color: hsl(225, 100%, 98%); */
    /*  */
    border-bottom-left-radius: 1.3em;
    border-bottom-right-radius: 1.3em;

}

.sm-dashboard-main {
    width: min(var(--max-width), 100% - (var(--padding) * 1));
    margin-inline: auto;
}

.total-follower-count {
    font-size: .82em;
    font-weight: bold;
    /* Theme */
    /* color: black; */
    /*  */
}

.theme-switch-toggle-container {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
}

.theme-switch-toggle-container>p {
    /* Theme */
    /* color: #e50b0b; */
    /*  */
    font-size: .8em;
    transition: color .4s cubic-bezier(0.19, 1, 0.22, 1);
}

.theme-switch-toggle {
    position: relative;
    display: inline-block;
    width: 55px;
    height: 25px;
}

.theme-switch-toggle input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* Theme */
    /* background-color: #d6171771; */
    /*  */
    transition: .4s;
    border-radius: 34px;
}


.slider::before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 6%;
    bottom: 10%;
    /* Theme */
    /* background-color: rgb(47, 188, 22); */
    /*  */
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider::before {
    transform: translateX(145%);
}

.follower-card-lists {
    display: flex;
    gap: 2em;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.follower-card,
.overview-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    /* Theme */
    /* background-color: hsl(227, 47%, 96%); */
    /*  */
    padding: 2em 4em;
    border-radius: .25em;
    width: 16.7em;
    transition: background-color .4s cubic-bezier(0.215, 0.610, 0.355, 1);
}

.follower-card:first-child {
    border-top: 4.5px solid var(--facebook);
}

.follower-card:nth-child(2) {
    border-top: 4.5px solid var(--twitter);
}

.follower-card:nth-child(3) {
    position: relative;
}

.follower-card:nth-child(3)::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: var(--instagram);
    height: 4.5px;
    width: 100%;
    border-top-right-radius: .25em;
    border-top-left-radius: .25em;
}

.follower-card:last-child {
    border-top: 4.5px solid var(--youtube);
}

.sm,
.social-metric-container {
    display: flex;
    gap: .5em;
    align-items: center;
}

.username {
    font-size: 14px;
    font-weight: bold;
    /* Theme  */
    /* color: #333; */
    /*  */
}

.follower-count {
    font-size: clamp(3em, 4vw, 3.7em);
    padding-top: .3em;
    /* Theme */
    /* color: #333; */
    /*  */
}

.follower-count+span {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: .85em;
    /* Theme */
    /* color: #333; */
    /*  */
}

.audience-growth-rate {
    color: var(--lime-green);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .85em;
    font-weight: bold;
    gap: .2em;
    margin-top: 1.3em;
}

.follower-card:last-child .audience-growth-rate {
    color: var(--bright-red);
}

/* Overview Section */
.sm-dashboard-overview {
    padding: 3em 0;
}

.sm-dashboard-overview h4 {
    font-size: clamp(1.3em, 4vw, 1.5em);
    padding-inline: .7em;
    /* Theme */
    /* color: #333; */
    /*  */
}

.overview-card-lists {
    padding-top: 1.5em;
    display: flex;
    gap: 2em;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.overview-card {
    padding: 1.4em 1.5em;
}

.overview-card .audience-growth-rate {
    margin-top: 0;
    margin-bottom: 2%;
}

.social-metric-container {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: .9em;
    /* Theme */
    /* color: #333; */
    /*  */
}

.overview-card div:nth-child(2) {
    display: flex;
    width: 100%;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 1em;
}

.overview-card:last-child .audience-growth-rate,
.overview-card:nth-child(7) .audience-growth-rate,
.overview-card:nth-child(2) .audience-growth-rate {
    color: var(--bright-red);
}

.count {
    font-size: clamp(1.5em, 4vw, 2em);
    font-weight: bold;
    /* Theme */
    /* color: #333; */
    /* Theme */
}

/* Media Queries */
@media (max-width:38em) {

    .follower-card,
    .overview-card {
        width: 100%;
    }

    .header-content-container {
        width: 100%;
    }

    .sm-dashboard-header {
        flex-direction: column;
        align-items: flex-start;
    }

    .dashboard-heading {
        margin-bottom: .4em;
    }

    .total-follower-count {
        padding-bottom: 1em;
        border-bottom: 1px solid hsl(230, 22%, 74%);
        margin-bottom: 1.3em;
    }

    .theme-switch-toggle-container {
        justify-content: space-between;
        width: 100%;
    }
}