@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');

*,
::after,
::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

:root {
    --white-clr: hsl(0, 0%, 100%);
    --black-clr: hsl(0, 0%, 0%);
    --dark-gray-clr: hsl(0, 0%, 55%);
    --very-dark-gray-clr: hsl(0, 0%, 41%);
}

body {
    background-color: var(--white-clr);
    overflow-x: hidden;
}

.sr-only {
    display: none;
}

.logo {
    margin: 2rem;
    margin-left: 0;
}

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.primary-header {
    align-items: center;
    justify-content: space-between;
    font-family: 'Alata',
        sans-serif;
}

.mobile-nav-toggle {
    display: none;
}

.primary-navigation,
.secondary-navigation {
    list-style: none;
    padding-inline-end: 1rem;
}

.primary-navigation a,
.secondary-navigation a {
    text-decoration: none;
}

.container {
    --max-width: 1174px;
    --container-padding: 1rem;

    width: min(var(--max-width), 100% - (var(--container-padding) * 2));
    margin-inline: auto;
}

.hero-container {
    background: linear-gradient(rgba(0, 0, 0, 0.64), rgba(0, 0, 0, 0.632)), url(images/desktop/image-hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 2em;
    padding-bottom: 8em;
    position: relative;
    background-position: center;
}

.primary-navigation a,
.secondary-navigation a {
    color: var(--white-clr);
    font-size: 15px;
}

.primary-navigation li,
.secondary-navigation li,
.social-links li {
    display: flex;
    position: relative;
    margin-inline-end: 1.3em;
    cursor: pointer;
    font-family: 'Josefin Sans',
        sans-serif;
    ;
}

.primary-navigation li a::after,
.secondary-navigation li a::after,
.social-links li a::after {
    content: "";
    display: block;
    height: 2.5px;
    width: 0;
    background-color: var(--white-clr);
    position: absolute;
    bottom: -7px;
    left: 25%;
    transition: width 0.3s ease;
}

.primary-navigation li:hover a::after,
.secondary-navigation li:hover a::after,
.social-links li:hover a::after {
    width: 50%;
}

.hero-h1-container {
    border: 3px solid var(--white-clr);
    max-width: 58%;
    margin-inline: auto;
    padding: 1.5em 2em;
    margin-top: 6em;
    margin-left: 0;
}

.hero-h1 {
    text-transform: uppercase;
    font-family: 'Josefin Sans',
        sans-serif;
    font-size: 4.5rem;
    color: var(--white-clr);
    font-weight: 300;
    line-height: 1;
}

.overview-section {
    padding: 10em 0;
    position: relative;
}

.overview {
    background-color: var(--white-clr);
    position: absolute;
    bottom: 12%;
    left: 48.5%;
    padding: clamp(2.5em, 3vw, 5em);
    font-family: 'Josefin Sans',
        sans-serif;
}

.overview>h2 {
    text-transform: uppercase;
    font-size: clamp(1.9rem, 3vw, 4rem);
    color: var(--black-clr);
    font-weight: 300;
}

.overview>p {
    margin: 1.5em 0;
    color: var(--very-dark-gray-clr);
    font-family: 'Alata',
        sans-serif;
    font-size: 15px;
    line-height: 1.7;
}

.creations-section {
    display: grid;
    grid-template-columns: 1fr .15fr;
    font-family: 'Josefin Sans',
        sans-serif;
    justify-content: center;
    padding-bottom: 7em;
}

.creations-section h2 {
    text-transform: uppercase;
    grid-column: 1/2;
    font-size: clamp(1.9rem, 3vw, 4rem);
    font-weight: 300;
    color: var(--black-clr);
}

.creations-section .btn {
    grid-column: 2/3;
    text-transform: uppercase;
    background-color: transparent;
    border: 1.5px solid var(--black-clr);
    color: var(--black-clr);
    letter-spacing: 1.5px;
    font-weight: bold;
    font-family: inherit;
    transition: all .5s linear
}

.creations-section .btn:hover {
    color: var(--white-clr);
    background-color: var(--black-clr);
    border-color: transparent;
}

.creations-section ul {
    grid-column: 1/3;
    grid-row: 2/3;
    margin-top: 4em;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2em 1.7em;
}

.creations-section .card {
    position: relative;
    font-family: 'Josefin Sans',
        sans-serif;
    padding: 20em 2em 1.9em 2em;
    max-width: 21em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    align-items: flex-end;
    flex: 1 1 17rem;
    transition: background-size .5s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.creations-section .card::after {
    opacity: 1;
}

.creations-section .card:hover::after {
    content: '';
    height: 100%;
    width: 100%;
    background-color: var(--white-clr);
    position: absolute;
    top: 0;
    left: 0;
    opacity: .6;
}

.creations-section .card:hover .name {
    color: var(--black-clr);
    z-index: 1;
}

.creations-section .name {
    color: var(--white-clr);
    text-transform: uppercase;
    font-size: clamp(1.5rem, 2.5vw, 3.5rem);
    font-weight: 300;
    text-align: left;
}

.creations-section .card:hover {
    background-size: 110% 110%;
}

.creations-section ul>.card:first-child {
    background-image: url(images/desktop/image-deep-earth.jpg);
}

.creations-section ul>.card:nth-child(2) {
    background-image: url(images/desktop/image-night-arcade.jpg);
}

.creations-section ul>.card:nth-child(3) {
    background-image: url(images/desktop/image-soccer-team.jpg);
}

.creations-section ul>.card:nth-child(4) {
    background-image: url(images/desktop/image-grid.jpg);
}

.creations-section ul>.card:nth-child(5) {
    background-image: url(images/desktop/image-from-above.jpg);
}

.creations-section ul>.card:nth-child(6) {
    background-image: url(images/desktop/image-pocket-borealis.jpg);
}

.creations-section ul>.card:nth-child(7) {
    background-image: url(images/desktop/image-curiosity.jpg);
}

.creations-section ul>.card:last-child {
    background-image: url(images/desktop/image-fisheye.jpg);
}

.footer {
    background-color: var(--black-clr);
    padding: 2em 0;
}

.footer .container {
    display: flex;
    justify-content: space-between;
}

.logo-and-secondary-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer .logo-container img {
    margin: 0;
    margin-bottom: 1.3em;
}

.social-links-and-copyrights {
    display: flex;
    gap: 2em;
    flex-direction: column;
}

.social-links {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.social-links li {
    margin-inline-end: 1em;
}

.copyrights {
    color: var(--white-clr);
}

@media (max-width:75.4375em) {
    .creations-section ul {
        justify-content: center;
    }

    .creations-section .card {
        padding: 25em 2em 1.9em 2em;
    }
}

@media (max-width:60.5625em) {
    .hero-h1-container {
        max-width: 100%;
        margin-left: auto;
    }

    .hero-h1 {
        font-size: clamp(2rem, 10vw, 4.5rem);
    }

    .creations-section ul {
        justify-content: space-evenly;
    }
}

@media screen and (max-width:35em) {

    /* Customizing the primary navigation for mobile screens */
    .primary-navigation {
        --gap: 1.5em;

        position: fixed;
        z-index: 1000;
        inset: 0 0 0 0;

        flex-direction: column;
        padding: min(30vh, 10rem) 2em;

        background-color: var(--black-clr);

        transform: translateX(100%);
        transition: transform 350ms ease-out;
    }

    /* Making the primary navigation visible when the [data-visible] attribute is set to true */
    .primary-navigation[data-visible="true"] {
        transform: translateX(0%);
    }

    /* Adjusting the logo for mobile screens */
    .hero-container .logo {
        position: absolute;
        z-index: 9999;
        margin: 0;
    }

    /* Styles for the mobile navigation toggle button */
    .mobile-nav-toggle {
        display: block;
        position: absolute;
        background-image: url(images/icon-hamburger.svg);
        background-repeat: no-repeat;
        background-position: top center;
        width: 2rem;
        aspect-ratio: 1;
        border: 0;
        top: 2.5rem;
        right: 1rem;
        z-index: 9999;
        background-color: transparent;
    }

    /* Changing the mobile navigation toggle button icon when expanded */
    .mobile-nav-toggle[aria-expanded="true"] {
        background-image: url(images/icon-close.svg);
    }

    .hero-container {
        background-image: url(images/mobile/image-hero.jpg);
        height: 70vh;
    }

    .hero-h1-container {
        position: absolute;
        top: 20%;
    }
}

@media (max-width:47.75em) {
    .overview-section {
        display: flex;
        flex-direction: column;
        padding: 7em 0 0 0;
    }

    .overview {
        position: relative;
        left: 0;
        text-align: center;
    }

    .creations-section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .creations-section .btn {
        order: 1;
    }

    .creations-section .card-container {
        margin-top: 1em;
    }

    .creations-section .card {
        padding: 4em 1.5em 1.5em 1.5em;
        max-width: 100%;
    }

    .creations-section ul>.card:first-child {
        background-image: url(images/mobile/image-deep-earth.jpg);
    }

    .creations-section ul>.card:nth-child(2) {
        background-image: url(images/mobile/image-night-arcade.jpg);
    }

    .creations-section ul>.card:nth-child(3) {
        background-image: url(images/mobile/image-soccer-team.jpg);
    }

    .creations-section ul>.card:nth-child(4) {
        background-image: url(images/mobile/image-grid.jpg);
    }

    .creations-section ul>.card:nth-child(5) {
        background-image: url(images/mobile/image-from-above.jpg);
    }

    .creations-section ul>.card:nth-child(6) {
        background-image: url(images/mobile/image-pocket-borealis.jpg);
    }

    .creations-section ul>.card:nth-child(7) {
        background-image: url(images/mobile/image-curiosity.jpg);
    }

    .creations-section ul>.card:last-child {
        background-image: url(images/mobile/image-fisheye.jpg);
    }

    .creations-section .btn {
        margin-top: 3em;
        width: 40%;
        padding: .8em 1em;
    }

    .footer .container {
        flex-direction: column;
        align-items: center;
    }

    .secondary-navigation {
        flex-direction: column;
        margin-top: 2em;
    }

    .secondary-navigation li {
        display: block;
    }

    .footer .logo-container {
        margin-top: 2em;
    }

    .secondary-navigation li {
        text-align: center;
    }

    .secondary-navigation {
        padding-inline-end: 0;
    }

    .social-links {
        margin-top: 3em;
        justify-content: center;
    }
}