@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');

*,
::after,
::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

:root {
    --white-clr: hsl(0, 0%, 100%);
    --black-clr: hsl(0, 0%, 0%);
    --dark-gray-clr: hsl(0, 0%, 55%);
    --very-dark-gray-clr: hsl(0, 0%, 41%);
}

/* ================= */
/* font-family: 'Alata',
sans-serif;
font-family: 'Josefin Sans',
sans-serif; */
/* ================== */

body {
    background-color: var(--white-clr);
    overflow-x: hidden;

}

.sr-only {
    display: none;
}

.logo {
    margin: 2rem;
    margin-left: 0;
}

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.primary-header {
    align-items: center;
    justify-content: space-between;
    font-family: 'Alata',
        sans-serif;
}

.mobile-nav-toggle {
    display: none;
}

.primary-navigation {
    list-style: none;
    padding-inline-end: 1rem;
}

.primary-navigation a {
    text-decoration: none;
}

@media screen and (max-width:35em) {

    /* Customizing the primary navigation for mobile screens */
    .primary-navigation {
        --gap: 1.5em;

        position: fixed;
        z-index: 1000;
        inset: 0 0 0 0;

        flex-direction: column;
        padding: min(30vh, 10rem) 2em;

        background-color: var(--black-clr);

        transform: translateX(100%);
        transition: transform 350ms ease-out;
    }

    /* Making the primary navigation visible when the [data-visible] attribute is set to true */
    .primary-navigation[data-visible="true"] {
        transform: translateX(0%);
    }

    /* Adjusting the logo for mobile screens */
    .logo {
        position: absolute;
        z-index: 9999;
    }

    /* Styles for the mobile navigation toggle button */
    .mobile-nav-toggle {
        display: block;
        position: absolute;
        background-image: url(images/icon-hamburger.svg);
        background-repeat: no-repeat;
        width: 2rem;
        aspect-ratio: 1;
        border: 0;
        top: 2.5rem;
        right: 2rem;
        z-index: 9999;
        background-color: transparent;
    }

    /* Changing the mobile navigation toggle button icon when expanded */
    .mobile-nav-toggle[aria-expanded="true"] {
        background-image: url(images/icon-close.svg);
    }

    .logo {
        margin: 0;
    }

}

.container {
    --max-width: 1174px;
    --container-padding: 1rem;

    width: min(var(--max-width), 100% - (var(--container-padding) * 2));
    margin-inline: auto;
}

.hero-container {
    background: linear-gradient(rgba(0, 0, 0, 0.64), rgba(0, 0, 0, 0.632)), url(images/desktop/image-hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 2em;
    padding-bottom: 8em;
    position: relative;
    background-position: center;
}

.primary-navigation a {
    color: var(--white-clr);
    font-size: 15px;
}

.primary-navigation li {
    display: flex;
    position: relative;
    margin-inline-end: 1.3em;
    cursor: pointer;
}

.primary-navigation li a::after {
    content: "";
    display: block;
    height: 2.5px;
    width: 0;
    background-color: var(--white-clr);
    position: absolute;
    bottom: -7px;
    left: 25%;
    transition: width 0.3s ease;
}

.primary-navigation li:hover a::after {
    width: 50%;
}

.hero-h1-container {
    border: 3px solid var(--white-clr);
    max-width: 58%;
    margin-inline: 0;
    padding: 1.5em 2em;
    margin-top: 6em;
}

.hero-h1 {
    text-transform: uppercase;
    font-family: 'Josefin Sans',
        sans-serif;
    font-size: 4.5rem;
    color: var(--white-clr);
    font-weight: 300;
    line-height: 1;
}

.overview-section {
    padding: 10em 0;
    position: relative;
}



.overview {
    background-color: var(--white-clr);
    position: absolute;
    top: 33%;
    left: 48.5%;
    padding: 5em;
    font-family: 'Josefin Sans',
        sans-serif;
}

.overview>h2 {
    text-transform: uppercase;
    font-size: 3em;
    color: var(--black-clr);
}

@media (max-width:969px) {
    .hero-h1-container {
        max-width: 100%;
    }

    .hero-h1 {
        font-size: clamp(2.5rem, 5vw, 4.5rem);
    }
}